{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>ToDo List App</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Favicon (Make sure your logo is a circle image) -->
    <link rel="icon" href="{% static 'images/logo.png' %}" type="image/png">

    <!-- Tailwind CSS -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}" />
</head>

<body class="flex flex-col min-h-screen">
    {% include 'header.html' %}

    <div class="flex-grow">
        {% block body %}
        
        {% endblock %}
    </div>

    {% include 'footer.html' %}

    <script src="{% static 'js/task_reorder.js' %}"></script>
    <script src="{% static 'js/task_notifications.js' %}"></script>
</body>
</html>
